.body
{
  background-image: url("./Images/bg.jpg");
}

.clinical
{
  font-family: 'Raleway', sans-serif;
  color:#0265FD;
  line-height:30px; 
  font-weight:700;
  font-size: 24px;
}
.clinical2
{
  font-family: 'Raleway', sans-serif;
  color:#0265FD;
  line-height:24px; 
  font-weight:600;
  font-size: 14px;
}
.cognitive
{
  font-family: 'Raleway', sans-serif;
  color:#0265FD;
  line-height:30px; 
  font-weight:900;
  font-size: 60px;

}

.font
{
  font-family: 'Raleway' , sans-serif;
  font-weight: 700;
  font-size: 16px;
  color: #0b1e59;
  line-height: 24px;
}
/* App.css */

/* Your existing styles */

@media only screen and (max-width: 768px) {
  /* Styles for screens up to 768px width */
  .flex {
    flex-direction: column; /* Change flex direction for smaller screens */
  }

  /* Add more responsive styles as needed */
}

@media only screen and (max-width: 480px) {
  /* Styles for screens up to 480px width */
  /* Adjust font sizes, margins, or any other styles for smaller screens */
}
/* App.css */

img {
  max-width: 100%;
  height: auto; /* Maintain aspect ratio */
}

.drop
{
  font-family: 'Raleway', sans-serif;
}